@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@0,400;0,700;1,100;1,400&display=swap");
.contact {
  background-color: lightgrey;

  h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    overflow-y: hidden;
  }
}
